#form1 {display:block;}
#form1 input { width:150px; float:right; height:15px; border:#2f2f2f 1px solid; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8d8d8e;  vertical-align:top; padding:1px 3px 3px 5px; display: inline-block;  border-radius:4px; margin-right:5x;}
#form1 label { display:block; width:300px; height:20px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8d8d8e;  vertical-align:top; padding:1px 3px 3px 5px; display: inline-block; float:left; margin-right:3px;}

#form1 .sendButton {cursor:pointer;float:right;width:160px;height:20px;background-color: #f19f1b; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:15px; color:#fff; font-weight:bold;  border:#2f2f2f 1px solid; font-family:Arial, Helvetica, sans-serif;  vertical-align:top; padding:1px 3px 3px 5px; display: inline-block;  border-radius:4px; margin-right:5px;}
#form1 .sendButton:hover {background:#feda01;}

         